*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.cabecalho {
    top: 0;
    position: sticky;
    background-color: #0097B2;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.cabecalho .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho-navbar ul  {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.cabecalho-navbar ul li a, button {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    background-color: transparent;
    transition: 0.2s;
}
.cabecalho-navbar ul li button {
    cursor: pointer;
}
.cl {
    text-decoration: none;
}
.cabecalho-navbar ul li a:hover {
    background-color: #00798f;
    color: #ffffff;
}
.cabecalho-navbar ul li button:hover {
    background-color: #00798f;
    color: #fff;
}
.cadastroElogin .cadastro {
    color: #ffffff;
    margin-right: 20px;
    font-size: 18px;

}
.cadastroElogin .login {
    background-color: #ffffff;
    padding: 10px 30px;
    color: #000000;
    font-size: 18px;
    border-radius: 5px;
}

.logo img {
    width: 150px;
    padding: 5px;
}
.sumirAparecer a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
}
.sumirAparecer a:hover {
    background-color: #00798f;
    color: #ffffff;
}
.sumirAparecer{
    display: none;
    background-color: #0097B2;
    padding: 10px;
    position: absolute;
}