
body{
    box-sizing: border-box;
}
main {
    background-color: #3f3f3f;
    width: 100%;
}
main .banner {
    background-image: url(https://itstep.com.br/dist/images/courses-adult/rpo-new-2/main-new1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 520px;
}
.titulo {
    font-size: 44px;
    color: #00d9ff;
    text-align: center;
    padding: 30px 0;
}
.containerTextos, .containerImportancia{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 70px;
}
.texto {
    font-size: 23px;
    color: #ffffff;
}
.containerLinguagens{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 70px;

}
.cardLinguagens {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.cardLinguagens p{
    width: 90%;
}
.cardLinguagens .bx {
    font-size: 100px;
    color: #00d9ff;
}