main {
    overflow-y: scroll;
    background-color: #3f3f3f;
    overflow-x: hidden;
    height: 80vh;
}
.boxQuiz {
    margin: 0 auto;
    padding: 30px;
    background-color: #424242;
    width: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #fff;
}
.boxQuiz p {
    text-align: center;
    color: #00d9ff;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}
.boxQuiz label {
  font-size: 25px;
    padding-left: 10px;
}
.buttonEnviar {
    padding: 20px;
    font-size: 25px;
    background-color: #00d9ff;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    transition: 0.5s;
}

.buttonEnviar:hover {
    background-color: #000000;
    color: #ffffff;
}
#resultado {
    padding: 20px;
    text-align: center;
    font-size: 50px;
    width: 500px;
    margin: 0 auto;
    font-weight: bold;
    color: #0097B2;
}
.enviar {
    box-shadow: none;
}
