main{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadastroBox{
    text-align: center;
    width: 550px;
    background-color: #686868;
    padding: 40px;
    border-radius: 10px;
    color: #fff;
}
.inputs input {
    width: 530px;
    font-size: 18px;
    padding: 8px 3px;
    margin-bottom: 10px;
}
.inputs input::placeholder {
    padding-left: 2px;
}
.cadastroBox h2 {
    font-size: 44px;
    margin-bottom: 30px;
}
.inputs p {
    text-align: left;
}
.cadastroBox button{
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #0097B2;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    transition: 0.5s;
}
.cadastroBox button:hover {
    background-color: #fff;
    color: #0097B2;
}