main {
    display: flex;
}
.menu-lateral {
    width: 220px;
    height: 500px;
    padding: 30px 10px;
    background-color: #00414d;
}
.conteudoDireita {
    width: 100%;
    height: 500px;
    background-color: #3f3f3f;
    overflow-y: scroll;
    overflow-x: hidden;
}
.menu-lateral h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.menu-lateral .btnPrincipal {
    background-color: transparent;
    border: none;
    display: block;
    color: #fff;
    padding-top: 20px;
    letter-spacing: 5px;
    cursor: pointer;
}
.historia, .elementos {
    display: none;
}
.subTitulo {
    text-transform: lowercase;
    display: block;
    margin-top: 13px;
    font-size: 16px;
    color: #dfdfdf;
    cursor: pointer;
}
.conteudoDireita {
    padding: 30px
}
/* CSS DA PAGINA DA HISTORIA */
#ondeComecou {
    display: none;
}
.imgCriador {
    width: 160px;
    border-radius: 10px;
    padding-right: 15px;
}

#ondeComecou, #imagens, #inputs, #tabela, #texto, #ancora h3{
    color: #00d9ff;
    font-size: 30px;
    margin-bottom: 20px;
}
.textos {
    color: #ffffff;
    word-spacing: 5px;
    width: 100%;
    font-size: 20px;
}
.col-1Textos {
    width: 90%;
}
.col-1 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.pCol-1 {
    color: #ffffff;
    word-spacing: 5px;
    font-size: 20px;
}
.btnPrincipal .bx {
    font-size: 10px;
}
.marginB {
    margin-bottom: 20px
}
/* CSS DA PAGINA DE IMAGENS */

#imagens {
    display: none;
}
.sintaxe {
    background-color: #464646;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 42%;
}
.tituloSintaxe {
    text-align: center;
    font-size: 30px;
    color: #e0e0e0;
    padding: 20px 20px 20px 0 ;
}
#imagens pre {
    background-color: #535353;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.chave {
    color: #e4e4e4;
}
.tag {
    color: #00d9ff;
}
.atributo {
    color: orange;
}
.string {
    color: rgb(255, 81, 81);
}
.sintaxe .descSintaxe {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.flex {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.left {
    text-align: left;
}
.formato {
    font-size: 24px;
    color: rgb(180, 200, 255);
}
.descFormato {
    width: 70%;
    font-size: 19px;
    color: #ffffff;
}
/* CSS DA PAGINA DE INPUTS */
#inputs pre {
    background-color: #535353;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
#inputs {
    display: none;
}
.tipo {
    font-size: 20px;
    color: #fff;
    background-color: #535353;
    padding: 10px;
    border-radius: 10px;
}
.sintaxe input {
    width: 50%;
    padding-left: 20px;
    height: 30px;
}
.divInput {
    text-align: center;
}
/* css da pagina de tabela */
#tabela {
    display: none;
}
#tabela pre {
    background-color: #535353;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}
table {
    color: #fff;
    font-size: 20px;
}
.divTabela {
    display: flex;
    justify-content: center;
}
.divTabela table,
td {
    padding: 10px;
  border: 1px solid #ffffff;
}


.divTabela thead,
tfoot {
  color: #fff;
}
/* css da tela de textos */
#texto {
    display: none;
}
#texto pre {
    background-color: #535353;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
/* css da tela de ancora */
#ancora pre {
    background-color: #535353;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
#ancora {
    display: none;
}
.textoSpan {
    color: rgb(255, 255, 158)
}