main {
    display: flex;
}
.menu-lateral {
    width: 220px;
    height: 500px;
    padding: 30px 10px;
    background-color: #00414d;
}
.conteudoDireita {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.menu-lateral h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.menu-lateral .btnPrincipal {
    background-color: transparent;
    border: none;
    display: block;
    color: #fff;
    padding-top: 20px;
    letter-spacing: 5px;
    cursor: pointer;
}
.historia, .elementos {
    display: none;
}
.subTitulo {
    text-transform: lowercase;
    display: block;
    margin-top: 13px;
    font-size: 16px;
    color: #dfdfdf;
    cursor: pointer;
}
.conteudoDireita {
    padding: 30px
}
.imgCriador {
    width: 160px;
    border-radius: 10px;
    padding-right: 15px;
}

#ondeComecou h3{
    color: #0097B2;
    font-size: 30px;
    margin-bottom: 20px;
}
.textos {
    color: #3f3f3f;
    word-spacing: 5px;
    width: 100%;
    font-size: 20px;
}
.col-1Textos {
    width: 90%;
}
.col-1 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.pCol-1 {
    color: #3f3f3f;
    word-spacing: 5px;
    font-size: 20px;
}
.btnPrincipal .bx {
    font-size: 10px;
}
/* #ondeComecou .textos {
    margin-bottom: 30px;
} */