main {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
}
.boxQuiz {
    margin: 0 auto;
   
    padding: 30px;
    width: 600px;
}
.boxQuiz p {
    text-align: center;
    color: #0097B2;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}
.boxQuiz label {
  font-size: 25px;

}
.buttonEnviar {
    padding: 20px;
    font-size: 25px;
    background-color: #0097B2;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    transition: 0.5s;
}
.buttonEnviar:hover {
    background-color: #000000;
    color: #ffffff;
}
#resultado {
    padding: 20px;
    text-align: center;
    font-size: 50px;
    width: 500px;
    margin: 0 auto;
    font-weight: bold;
    color: #0097B2;
}